@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #5e20e4;
  --opacity2: #c4c4c4;
  --secundary: #f9f9ff;
  --info: #a8a8a8;
  --resaltado: #7f7f7f;
  --second: #021639;
}

.color_primary {
  color: #5e20e4;
}

.color_white {
  color: #fff;
}

.color_secundary {
  color: var(--secundary);
}

.color_black {
  color: #000;
}

.bg_primary {
  background-color: var(--primary);
}
.bg_opacity2 {
  background-color: var(--opacity2);
}

.bg_second {
  background-color: var(--second);
}

.bg_secundary {
  background-color: var(--secundary);
}

.bg_white {
  background-color: #fff;
}

.shadow_card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.title-roboto {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #333333;
}

.strong {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.text-opacity {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

.link_mutex {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #828282;
}

.container__login .el-input__inner {
  border-radius: 50px;
}

.btn_rounded_primary {
  background-color: var(--primary);
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.btn_rounded_second {
  background-color: var(--second);
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.btn_border_line {
  border: 1px solid #5e20e4;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}

.input-search-autocomplete .el-input input.el-input__inner {
  border-radius: 1rem !important;
  border-color: #021639 !important;
  background: none !important;
}

.el-icon-star-on {
  color: #5e20e4 !important;
  font-size: 30px;
}

.el-rate__icon {
  color: #5e20e4 !important;
  font-size: 30px;
}

.container-select-format .el-select .el-input .el-input__inner {
  border-color: #5e20e4;
  width: 442px;
  height: 66.96px;
  border-width: 2px;
  border-radius: 10px;
}

.el-select .el-input .el-select__caret {
  color: #5e20e4;
}
.title_admin {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 21px;
  color: #000000;
}

.title_input {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}

.input__search .el-input__inner {
  border-radius: 50px;
  height: 2.7rem;
  width: 40rem;
}

.table__custom .cell {
  text-align: center;
}

.card {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.input_semiroundend .el-input__inner {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  border-radius: 5px;
}

.dropdown_custom .el-input__inner {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  border-radius: 5px;
}

.dropdown_custom .el-input__inner:hover {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  border-radius: 5px;
}

.dropdown_custom .el-select .el-input .el-select__caret {
  color: var(--primary);
}

.dropdown_custom .el-select:hover .el-input__inner {
  border: 1px solid var(--primary);
}

.btn_save_change {
  transition: all 0.3s;
  width: 15rem;
  height: 2.5rem;
  color: #fff;
  font-family: Roboto;
  font-weight: bold;
}

.btn_save_change:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.name_item_card {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--primary);
  padding: 1rem 0;
}

.btn_add_size {
  transition: all 0.3s;
}

.btn_add_size:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.info_text_md {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7rem;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #a8a8a8;
}

.spacer {
  height: 3rem;
  width: 100%;
}

.upload_pdf .el-upload,
.upload_pdf .el-upload-dragger {
  width: 100%;
}

.select_details .el-select {
  width: 100%;
}

.select_details .el-input__inner {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  border-radius: 5px;
}

.select_details .el-input__inner:hover {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  border-radius: 5px;
}
.select_details .el-select .el-input .el-select__caret {
  color: var(--primary);
}

.select_details .el-select:hover .el-input__inner {
  border: 2px solid var(--primary);
}

.input_number .el-input-number__decrease,
.input_number .el-input-number__increase {
  background-color: var(--primary);
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_number .el-input-number__decrease > i,
.input_number .el-input-number__increase > i {
  color: #fff;
  font-weight: bold;
}

.input .el-input__inner {
  border: 1px solid var(--primary);
  height: 3rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.input .el-input__inner:hover {
  transition: all 0.1s;
  border: 2px solid var(--primary);
}

.input .el-input__inner:focus {
  transition: all 0.1s;
  border: 2px solid var(--primary);
}

.text_area_new_admin .el-textarea__inner {
  min-height: 8rem !important;
  border: 1px solid var(--primary);
  height: 3rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.text_area_new_admin .el-textarea__inner:focus {
  transition: all 0.1s;
  border: 2px solid var(--primary);
}

.text_area_new_admin .el-textarea__inner:hover {
  transition: all 0.1s;
  border: 2px solid var(--primary);
}

.select .el-input__suffix {
  color: var(--primary);
}

.price_input_prefix .el-input__prefix {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  padding-left: 0.2rem;
  color: var(--primary);
}

.rotate {
  animation: rotate 12s normal linear infinite;
}

.scale {
  animation: scale 2s infinite linear alternate backwards;
}

.disappear-3 {
  animation: disappear 3s infinite linear alternate backwards;
}

.disappear-3 {
  animation: disappear 3s infinite linear alternate backwards;
}

.disappear-4 {
  animation: disappear 4s infinite linear alternate backwards;
}

.disappear-5 {
  animation: disappear 5s infinite linear alternate backwards;
}

@keyframes rotate {
  to {
    transform: rotate(1deg);
  }

  from {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(1.1);
  }
}

@keyframes disappear {
  to {
    opacity: .5;
  }

  from {
    background-color: #fff;
  }
}

.button-to-by > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.el-tabs__item.is-active {
  color: #5e20e4;
}

.el-tabs__item:hover {
  color: #5e20e4;
}

.el-tabs__active-bar {
  background-color: #5e20e4;
}

.el-tabs__nav-wrap::after {
  background-color: unset;
}

.el-tabs__item {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}

.input_search_place .el-input-group__append {
  border-radius: 0px 50px 50px 0px;
  background: var(--primary);
  color: #fff;
}

.input_search_place .el-input__inner {
  border-radius: 50px 0 0 50px;
}

.el-submenu__title .el-menu{
  border-right: unset;
}
