@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

:root {
  --primary: #5e20e4;
  --opacity2: #C4C4C4;
}

.bg_primary {
  background-color: var(--primary);
}
.bg_opacity2 {
  background-color: var(--opacity2);
}


.title-roboto {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #333333;
}

.strong {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.text-opacity {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

.link_mutex {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #828282;
}

.container__login .el-input__inner {
  border-radius: 50px;
}

.btn_rounded_primary {
  background-color: var(--primary);
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.btn_border_line {
  border: 1px solid #5e20e4;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
