@media (max-width: 640px) {
  .r-pt-1 {
    padding-top: 1rem;
  }

  .r-px-2 {
    padding: 0 2rem;
  }

  .r-flex {
    display: flex;
  }

  .r-justify-center {
    justify-content: center;
  }

  .r-flex-col {
    flex-direction: column;
  }

  .r-w90 {
    width: 90%;
  }

  .r-w90-important {
    width: 90% !important;
  }

  .r-overflow-h {
    overflow: hidden;
  }

  .r-space-container {
    padding: 0 1rem !important;
  }

  .r-white-space {
    white-space: normal;
  }

  .r-w-full {
    width: 100% !important;
  }

  .r-see {
    display: inline;
  }

  .r-remove {
    display: none;
  }

  .r-remove-mobile-important {
    display: none !important;
  }

  .r-order-1 {
    order: 1;
  }

  .r-order-2 {
    order: 2;
  }

}

.r-spacer-sm {
  display: none;
}

@media (max-width: 1024px) {
  .r-px-2 {
    padding: 0 2rem;
  }

  .r-spacer-sm {
    display: block;
    padding: 0.5rem 0;
  }

  .r-flex {
    display: flex;
  }

  .r-justify-center {
    justify-content: center;
  }

  .r-flex-col {
    flex-direction: column;
  }

  .r-w-full {
    width: 100% !important  ;
  }

  .r-w90 {
    width: 90%;
  }

  .r-w90 .el-input__inner {
    width: 100%;
  }

  .r-w-70 {
    width: 70%;
  }

  .r-w90-important {
    width: 90% !important;
  }

  .r-overflow-h {
    overflow: hidden;
  }

  .r-space-container {
    padding: 0 3rem;
  }

  .r-white-space {
    white-space: normal;
  }

  .r-w-full {
    width: 100%;
  }

  .r-pt-4 {
    padding-top: 4rem;
  }

  .r-pt-2 {
    padding-top: 2rem;
  }

  .r-pt-1 {
    padding-top: 1rem;
  }

  .r-px-1 {
    padding: 1rem 0;
  }

  .r-px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .r-pb-05 {
    padding-bottom: 0.5rem;
  }
  .r-space-container {
    padding: 0 3rem;
  }

  .r-remove-tablet {
    display: none;
  }

  .r-see {
    display: inline;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1580px) {
  .r-space-container {
    padding: 0 3rem;
  }

  .r-pt-2 {
    padding-top: 2rem;
  }
}
